KMeans/__pycache__/
KNN/__pycache__/
Linear_Regression/__pycache__/
test/__pycache__/
backgroud/__pycache__/
package/__pycache__/
Illustration_and_application_of_machine_learning_algorithms/__pycache__/s